

#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
.env




.env
coordinator/mcp-http-bridge/hyperion-coordinator-bridge
/.playwright-mcp

# Local Hyperion configuration
.hyper
docker-compose.*.yml
